<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760252008854-3gj5c8svd795lgdq0np92rml346fgvou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760252008854-3gj5c8svd795lgdq0np92rml346fgvou</string>
	<key>API_KEY</key>
	<string>AIzaSyDuDlhJpaeCT_bg2LeomWFmS9bkmEK6XGs</string>
	<key>GCM_SENDER_ID</key>
	<string>760252008854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AnlBrc.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-99a3b</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-99a3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760252008854:ios:2733dc14ee892d8b2c35b7</string>
</dict>
</plist>